<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
    

    {% comment %} Display messsages directly {% endcomment %}
    {% if messages %}
        <div id="message-container">
            {% for msg in messages %}
            <div style="background-color: #4CAF50; color: #fff; padding: 10px; border-radius: 5px; margin-top: 10px;">
            {{msg}}
            </div>
            {% endfor %}    

        </div>

    {% endif %}

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</body>
</html>
